.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.filters select,
.filters input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.filters select:hover,
.filters input:hover {
    border-color: #888;
}

.filters input {
    flex: 1 1 200px;
}

.sessionList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.sessionItem {
    width: 268px;
    height: 230px;
}

.cardLink {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.empty {
    font-size: 1rem;
    color: #777;
    text-align: center;
    margin-top: 2rem;
}


@media (max-width: 600px) {
    .filters {
        flex-direction: column;
        align-items: stretch;
    }

    .filters input,
    .filters select {
        width: 100%;
    }

    .sessionList {
        justify-content: center;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .sessionItem {
        height: 200px;
    }

    .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}