.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.card h3,
.sessionTitle {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.card p,
.field {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.card .timeRoom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #777;

}

.warning {
    margin-top: 0.5rem;
    color: #f44336;
    font-weight: bold;
}

.conflict {
    border-left: 4px solid #f44336;
    padding-left: 0.8rem;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    .card {
        padding: 0.8rem;
    }

    .card h3,
    .sessionTitle {
        font-size: 1.1rem;
    }

    .card p,
    .field {
        font-size: 0.9rem;
    }
}