.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

.titleContainer {
    display: flex;
}

.title {
    font-size: 2rem;
}

.field {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
    .container {
        margin: 1rem;
        padding: 0.8rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .field {
        font-size: 0.9rem;
    }

}